<div>
    <h1 class="display-4">Education</h1>
</div>
<hr/>
<div class="timeline">
    <div class="tl-block">
        <div class="tl-event">
            <div class="tl-event-l">
                <div class="para">
                    <h3>B.Sc in Computer Science & Engineering</h3>
                    <h5>American International University- Bangladesh</h5>
                    <h5>CGPA: 3.99</h5>
                    Enrolled in Computer Science & Engineering program in a reputed university of Bangladesh well known
                    for its engineering departments in 2015. The program contained total 148 credit hours with more than
                    45 courses in total mainly on computer science and electronics.
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                        Show More/Less
                    </button>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        Throughout the four year degree program I learned in total of four programming languages- C, C++, Java and C#.
                        These programming courses were designed to build up our problem solving abilities and getting fluent in coding
                        using these languages. Apart from these, my logic building and problem solving abilities were enhanced in courese like
                        Data Structure and Algorithms. As part of the curriculum, I also learned about electrical and electronic basics
                        from courses such as, Electrical Circuits 1 and 2, Digital Electronics, Microprocessor & I/O Systems etc. These
                        courses supplemented me with knowledge on circuitry, internal components of devices that we use along with
                        how to design circuits and build useful devices using microprocessors.<br/>
                        There were in total five mathematics courses associated with my program. These courses had topics ranged from 
                        basic calculus, solving linear equations to more advanced topics like Fourier/Z transform, Euler's theorem, Vector
                        analysis etc. Although I could not properly grasp the purpose of these topics while studying them, I realized
                        their importance later on when doing my thesis.<br/>
                        At the end of my degree, I was introduced with web development technologies and learned about PHP, JavaScript, JQuery,
                        ASP.NET etc. I became fond of ASP.NET while working with it and came to realization that I can build a career on it.
                        Apart from projects developed for the courses, I started working on a few personal projects and learned new technologies
                        like AngularJS, MongoDB during my free time. The course called Data Warehouse & Data Mining played a vital role in 
                        my research study, I found the contents of the course very much interesting and intuitive. Another course called 
                        Human Computer Interaction changed the way I will look at the design of everyday things for the rest of my life. The 
                        Design of Everyday Things- was actually the name of the book covered in this course, that shed light on how human mind
                        works and how things are designed can put an effect on human mind. Various design principles were also a major part of 
                        the course, which are crucial in UI designing. This course one of my most favorite courses from my bachelor's degree.
                        Among the numerous courses that I completed, these were my favorite ones-
                        <ul>
                            <li>Programming Language 1</li>
                            <li>Data Structures</li>
                            <li>Electrical Circuits 1 (DC)</li>
                            <li>Algorithms</li>
                            <li>Object Oriented Programming 2</li>
                            <li>Theory of Computation</li>
                            <li>Web Technologies/li>
                            <li>Microprocessors & I/O Systems</li>
                            <li>Data Warehouse & Data Mining</li>
                            <li>Human Computer Interaction</li>
                        </ul>                  
                        My involvement with American International University- Bangladesh and its
                        wonderful faculty members is something I will cherish my whole life. I made friends here with whom I made memories 
                        that I hold dear and close to my heart, without them my university life would not be as enjoyable as it was.
                    </div>
                </div>
            </div>
            <div class="year">
                <h4>2018</h4>
            </div>
        </div>
    </div>
  <div class="tl-block">
      <div class="tl-event">
        <div class="tl-event-r">
            <div class="para">
                <h3>Higher Secondary School Certificate (HSC)</h3>
                <h5>Dhaka Residential Model College</h5>
                <h5>GPA: 5.00</h5>
                I completed my HSC from science department of a reputed college with the biggest school/college campus
                in the capital of Bangladesh. I secured A+ in all subjects.
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Show More/Less
                </button>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    HSC is a quite difficult exam, since we do not get much time compared to the materials that are covered for it.
                    I had in total of 6 subjects-
                    <ul>
                        <li>Bangla and English (Compulsory for all students)</li>
                        <li>Physics and Chemistry (Compulsory for all science students)</li>
                        <li>Biology and Mathematics (Elective)</li>
                    </ul>
                    Although I studied in computer science later on, I did not take the Computer Studies as an elective course, instead
                    I took Biology which had a few benefits in university admission in my country at that time. However, this decision may
                    seem wrong, it did not have any negative impact on my further studies. <br/>
                    Each subject had two papers and they were covered in one year each, resulting in a densly packed syllabus to be convered
                    in a short amount of time. I enjoyed studying physics and mathematics the most. There were interesting topics in 
                    Physics like how projectiles work, nuclear reactions and the most exciting chapter was Relativity where we learned
                    about Lorentz contraction, time dilation and Albert Einstein's famous mass-energy equivalnecy equation. The topics 
                    covered in Mathematics serves me still today, from solving quadratic equations to geometry problems, understanding
                    line, circle's equations etc. These topics were crucial for my further study and I would face a serious lag had I not
                    studied them properly during my college life.
                    Since I also spent my school days in Dhaka Residential Model College, the environmetn was not new to me. Most of the students
                    were also my fellow classmates from school, however new faces joined us in college with some old friends setting off to another
                    college. The days in college went away pretty fast as there were not much time and we had to cover a lot of stuff in this short
                    period of time. However, the little joys that bloomed among the speeding and tensed time are worth keeping and cherishing.
                </div>
            </div>
            <div class="year">
                <h4>2014</h4>
            </div>
        </div>
    </div>  
  </div>
  <div class="tl-block">
      <div class="tl-event">
        <div class="tl-event-l">
            <div class="para">
                <h3>Secondary School Certificate (SSC)</h3>
                <h5>Dhaka Residential Model College</h5>
                <h5>GPA: 5.00</h5>
                I completed my SSC from science department of in one of the best schools of my country with the biggest
                campus in the capital of Bangladesh. I secured A+ in all subjects and our college placed fourth among the best
                performing schools in the country that year.
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                    Show More/Less
                </button>
                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    The two years of SSC were one of the best time of my school days. There were not much pressure of study and we
                    had enough recess hours. However, we had in total of 11 subjects including-
                    <ul>
                        <li>Bengali Paper 1 and 2</li>
                        <li>English Paper 1 and 2</li>
                        <li>Mathematics</li>
                        <li>Advanced Mathematics</li>
                        <li>Physics</li>
                        <li>Chemistry</li>
                        <li>Biology</li>
                        <li>Islamic Studies</li>
                        <li>Social Studies</li>
                    </ul>
                    The contents of the subjects were designed in a way to build up our basic knowledge and prepare for
                    the HSC syllabus, since many topics where repeated in HSC afterwards. I can mostly recall the contents
                    of mathematics that included proving many theorems of geometry, solving linear equations, basic calculus etc.
                    The syllabus of physics was also interesting involving chapters on Newton's laws, heat, energy, surface tension etc.
                    <br/>
                    Memories made during the school days are worth holding on to for the rest of life. Friends from my school days
                    are people whom I can still rely on although we do not meet or talk very often. Little did we know back then
                     how precious those times were that we will never get back.
                </div>
            </div>
            <div class="year">
                <h4>2012</h4>
            </div>
        </div>
        </div>  
    </div>
</div>