<div>
  <h1 class="display-4">About Me</h1>
</div>
<hr/>
<div class="jumbotron">
<p class="lead">
  I was brought up in a small area of Dhaka city and have been living there since I was born. As a kid I was very active, most of my time of the day was spent
  with friends living in my area. Fortunately, there were plenty of kids of my age, some older than me in my neighborhood. We would spend almost all of our
  daytime playing cricket on narrow streets of the area, playing badminton on any free plot we could find that was spared from urbanization, or even playing
  self invented games on rooftops. As we grew older some of our friends shifted to different locations of the city with their families and our circle became
  smaller each year. However, I still have contact with my friends from those days and we catch up whenever we can, although it happends rarely, we can always
  count on each other.
</p>
<p class="lead">
  I studied in the same school for 10 years and I am in debt of this institution for becoming the person I am now. Our school had one of the best campuses in Dhaka city, 
  for which my long time of staying there was always blissful and wonderful. There were many students in my class and we grew up together making unforgettable memories
  along the way. I still miss playing soccer on the grassy fields of my school, walking through the long corridors of our school buildings or just talking with friends
  about things that seemed so important to us back then.
</p>
<p class="lead">
  Studying in computer science has been my dream since I started thinking about what I am good at and where my interests lie on. I was introduced to computers by my uncle, 
  he was a tech savvy and knew his way around computers. My first interaction with a computer was through the MS-DOS OS, I was taught how to launch a few games in that platform by my uncle. Then when Windows
  98 was released my uncle showed me its various potential, like MS Paint, MS Word, recording voice and other basic computer tasks. As years went by I learned from him how to
  install software and games, using printers, browsing the internet and such. We even used to play co-op games together and I can not but thank him enough for the knowledge
  I have on computers right now and it is through him my interest on computers came to being.
</p>
<p class="lead">
  Following my passion for computers, I did my Bachelor's on Computer Science from a well known university of my country, specially recognized for its engineering department.
  I adapted to understanding and writing codes quite easily from the first week of my first programming language course. I was prompt in solving the problems introduced by 
  our teacher in each lab class and built quite a reputation as a programmer among my classmates. Day by day my confidence in programming built up and I grew interest in 
  problem solving. I solved many problems given as extra by our programming teacher and built a game of Tic-Tac-Toe using C language which was my very first university project.
  I was always excited to attend all the programming classes and my projects on each these courses were considered one of the best by my teachers. I have learned a lot from
  the time spent in my university, and made amazing friends without whom I would not have been able to make my university life enjoyable. My university did not only taught
  me about how to do programming and developing applications, the most important lesson was to go through whatever life throws at you, improvising along the way, taking turns
  that helps you reach your destination, since life is not a straight path with directions provided to you. Also, we should never forget to build our own milestones and 
  making memories of joy and success with people who we hold dear as we go through this path of struggle and defeats.
</p>
<p class="lead">
  When it comes to hobbies, I can only talk about video games. I am fond games with rich stories, be it RPG, linear shooter or just click to play. But most importantly, I am
  an online competitive gamer with hundreds of hours on games like CS:GO, COD and Rainbow 6 Siege. I enjoy music and movies as much as most other people. Pop and R&B are my 
  favorite genre when it comes to music, with The Weeknd being my most favorite artist of all time. I tend to listen to music that I grow fond of time to time over and over
  again rather than listening to new music all the time. I also enjoy original soundtracks of various games or movies. When it comes to movies I tend to like that have mystery,
  good character development and without cheap thrills. However, that does not mean I do not like mainstream movies, I enjoy almost each superhero movie that Marvel releaes,
  although my favorite superhero movie is still The Dark Knight.
</p>
<p class="lead">
  As a person I am very open minded and always encourage talking out of things. Sharing is healing, is what I believe and I never back down from an enlightening conversation, be
  it about myself, the person I am talking to or any other topic. I appreciate constructive criticism and more than welcome it since I believe what it can only do is to help
  improve myself. I always seek to understand the reason of a human's actions, how our mind works and what drives us to the conclusions that we reach. I have interest in 
  psychology, had it not been computer science I would have pursued a career on being a psychiatrist. You can learn a lot by observing, and it always opens up your mind 
  and makes you considerate about others when you learn to think the way the perosn you are dealing with thinks.
</p>
</div>