<div class="row">
    <div class="col-sm-12 col-md-4 col-bg-4 mb-4">
      <img src="assets/profile.png" width="100%"/>
      <h1 align="center" style="margin-top:20px">
        <span style="font-family:'Courier New', Courier, monospace;background-color:rgb(51, 49, 49);color:whitesmoke;padding:10px;">
          Ashfaq Adib
        </span>
      </h1>
    </div>
    <div class="col">
      <div class="jumbotron">
        <span class="display-4">Programmer. Developer. Gamer.</span>
          <p class="lead">
            Hello I'm Ashfaq and welcome to my online portfolio. I am an aspiring developer 
            and a fresh graduate. I am currently seeking a career as a software engineer. You can 
            learn a lot about me by browsing thorugh different sections of this website. Feel 
            free to contact me using the contact information provided.
          </p>
          <div class="row" style="font-family: 'Railway';font-size:20px">
            <div class="col-md-12 col-bg-12 col-sm-12 mb-2">Contact Information:</div>
            <div class="col-md-6 col-bg-6 col-sm-12"><img src="assets/mail.png" height="30px"/> ashfaq.adib@outlook.com</div>
            <div class="col-md-6 col-bg-6 col-sm-12"><img src="assets/linkedin.png" height="30px"/> linkedin.com/in/ashfaqadib/</div>
          </div>
      </div>
    </div>
</div>
<div>
  <h1 class="display-4">Links</h1>
</div>
<hr/>
<div class="row" style="font-family: 'Railway'">
    <div class="col-sm-12 col-md-3 col-bg-4 mb-4">
        <a routerLink="education">
          <div class="card" align="center" [@scaleUpDownAnim]='eduState' (mouseenter)="animateMe('eduState')" (mouseleave)="animateMe('eduState')">
            <img src="assets/education.png" width="100px"/>
            <h1>Education</h1>
          </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 col-bg-4 mb-4">
        <a routerLink="skills">
          <div class="card" align="center" [@scaleUpDownAnim]='skillsState' (mouseenter)="animateMe('skillsState')" (mouseleave)="animateMe('skillsState')">
              <img src="assets/skills.png" height="100px"/>
              <h1>Skills</h1>
          </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 col-bg-4 mb-4">
        <a routerLink="projects">
          <div class="card" align="center" [@scaleUpDownAnim]='projectsState' (mouseenter)="animateMe('projectsState')" (mouseleave)="animateMe('projectsState')">
              <img src="assets/project.png" height="100px"/>
              <h1>Projects</h1>
          </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-3 col-bg-4 mb-4">
        <a routerLink="aboutme">
          <div class="card" align="center" [@scaleUpDownAnim]='aboutmeState' (mouseenter)="animateMe('aboutmeState')" (mouseleave)="animateMe('aboutmeState')">
              <img src="assets/about.png" height="100px"/>
              <h1>About Me</h1>
          </div>
        </a>
      </div>
</div>