a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
@media(max-width:480px){
    .display-4{
        font-size: 45px;
    }
}